<html><body>
<h1>Rental Shared Application</h1>
<h2>Shared Accommodation cum Paying Guest Agreement</h2>
<p>This is a legally binding agreement. It is intended to promote household harmony by clarifying the expectations and responsibilities of the Owner or Principal Tenant (Landlords) and Tenant when they share the same home. The term Landlord refers to either Owner or Principal Tenant. Landlord shall provide a copy of this executed (signed) document to the Tenant, as required by law</p>
<h3>Parties</h3>
<p><strong>Landlord Details</strong></p>
<p>Landlord/Property Owner Name: [Full Name]</p>
<p>Address of the Property: [Address]</p>
<p><strong>Paying Guest Details</strong></p>
<p>Paying Guest Name: [Full Name]</p>
<p>Permanent Address: [Address]</p>
<p>Contact Number: [Phone Number]</p>
<p>Email Address: [Email]</p>
</body></html>